<div class="container">
  <div class="row">
    <div class="col-xl-12">Menu Build nè</div>
    <div class="col-xl-12">
      <div class="input-group">
        <app-text-input></app-text-input>
        <button id="add-image"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Image"
                class="btn btn-light">
          <i class="fa fa-file-photo-o"
             aria-hidden="true"></i>
        </button>
        <button id="add-audio"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Audio"
                class="btn btn-light">
          <i class="fa fa-file-sound-o"
             aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3">
      Left
    </div>
    <div class="col-xl-6">
      <app-unity-module></app-unity-module>
    </div>
    <div class="col-xl-3">
      Right
    </div>
  </div>
</div>
